.text-center{
    color:#fff;
    background: linear-gradient(45deg, #ef1efe, #4c11a9);
    text-transform:uppercase;
    font-size: 23px;
    font-family: 'Lucida Grande', 'Montserrat', sans-serif;;
    margin: -70px 0 0;
    display: block;
    text-align: center;
    border-radius: 10px;
    padding: 10px 0;
    width: 100%;
}
.error-text{
    color:#FB0023;
    font-size: 20px;
    margin: 25px 0 40px 0;
    display: block;
    text-align: center;
    font-family: 'Lucida Grande', 'Montserrat', sans-serif;
}
.label-text{
    display: inline-block;
    color:#0e28bd;
    font-size: 20px;
    margin: 0 20%;
    text-align: center;
    font-family: 'Lucida Grande', 'Montserrat', sans-serif;
}
.box{
     position:absolute;
     left:50%;
     top:50%;
     transform: translate(-50%,-50%);
     background-color: #afaafe;
     border-radius: 10px;
     padding: 70px 0px;
     width: 30%
 }
.home{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.input-container{
    position:relative;
}
.input-container label{
    position:absolute;
    top:0px;
    left:0px;
    font-size:20px;
    font-family: 'Lucida Grande', 'Montserrat', sans-serif;
    color: #0e28bd;
    pointer-event:none;
    transition: all 0.5s ease-in-out;
    margin: 25px 10% 0;
}
.input-container input{
    border:0;
    border-bottom:1px solid #008990;
    background:transparent;
    border-radius: 10px;
    width:80%;
    padding:8px 0 5px 5px;
    font-size:16px;
    color:#000;
    background: #fee79b;
    margin: 50px 10% 0;
}
.input-container input:focus{
    border:none;
    outline:none;
    border-bottom:1px solid #FF7600;
}
.btn{
    color:#fff;
    background-color:#e74c3c;
    outline: none;
    border: 0;
    color: #fff;
    padding:10px 20px;
    text-transform:uppercase;
    margin-top:50px;
    border-radius:2px;
    cursor:pointer;
    position:relative;
}
/*.btn:after{
	content:"";
	position:absolute;
	background:rgba(0,0,0,0.50);
	top:0;
	right:0;
	width:100%;
	height:100%;
}*/
.input-container input:focus ~ label,
.input-container input:valid ~ label{
    top:-12px;
    font-size:20px;

}