a.input-container {
  text-decoration: none;
  text-align: center;
  outline: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 10px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #6ab1d7 0%, #33d9de 50%, #002878 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Lucida Grande', 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  transition: .5s;
}
a.input-container:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
  cursor: default;
  text-decoration: none;
}
a{
  font-family: 'Lucida Grande', 'Montserrat', sans-serif;
  font-size: 20px;
  color: #bc1ae3;
  text-decoration: none;
  margin: 0 10%;
}
a:hover{
  text-decoration: underline;
}

button {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 10px;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #E73A98 0%, #CE0071 50%, #4013AF 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Lucida Grande', 'Montserrat', sans-serif;
  font-size: 10px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  transition: .5s;
}
button:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}

input[type=submit] {
  text-decoration: none;
  outline: none;
  display: inline-block;
  padding: 12px 30px;
  margin: 10px 10%;
  border-radius: 30px;
  background-image: linear-gradient(45deg, #E73A98 0%, #CE0071 50%, #4013AF 100%);
  background-position: 100% 0;
  background-size: 200% 200%;
  font-family: 'Lucida Grande' ,'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: white;
  box-shadow: 0 16px 32px 0 rgba(0,40,120,.35);
  transition: .5s;
}
input[type=submit]:hover {
  box-shadow: 0 0 0 0 rgba(0,40,120,0);
  background-position: 0 0;
}